.button {
  background-color: var(--icons-color);
  padding: 0.5rem 1.2rem;
  border: 1px solid var(--icons-color);
  border-radius: 2rem;
  font-size: 1.2rem;
  color: var(--shadow-light-color);
  cursor: pointer;
  transition: all 0.2s ease-in;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* the search icon used */

.button:hover {
  background-color: var(--main-bg-color);
  border: 1px solid var(--icons-color);
  color: var(--icons-color);
}
